* {
  box-sizing: border-box;
}  

html {
  height: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body{
  cursor: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: rgb(99, 0, 0);
}

.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.cursor-dot, .cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}


/* animation for page start up */
@keyframes navTransitionIn {
  from {
      transform: rotate(-360deg);
  }

  to {
      transform: rotate(360deg);
  }
}

/* Adjusting screen depending on device*/         
/* Small Screen */
@media (max-width: 600px) {
  .navbar{
      width: 90vw;
      bottom: 0;
      margin: 25px;
      margin-bottom: 5px;
  }

  .navbar-nav {
      flex-direction: row;
      justify-content: center;
  }

  .link-text {
      display: none;  
  }

  .nav-link{
      justify-content: center;
  }
  

}
/* Big Screen */
@media (min-width: 600px) {
  .navbar{
      width: 3.5rem;
      top: 30%; 
      right: 0px;
      margin-right: 25px;
  }
  .navbar-nav {
      flex-direction: column;
  }
  .navbar:hover{
      transform: scale(1.3);
      background-color: rgba(93, 93, 93, 0.4);
      backdrop-filter: blur(20px);
  }
  .navbar img:hover{
      transform: rotate(360deg) translateZ(0) scale(1.5);
  }
  .nav-item:hover .link-text {
      display: block;
  }
  .nav-link{
      display: flex;
   
  }
  .author{
    margin-right: 150px;
  }
  
}

/* -----------------------------navbar----------------------------- */

.navbar{
  font-family: Rajdhani, sans-serif;
  font-size: 15px;
  z-index: 2;
  position: fixed; 
  background-color: rgba(93, 93, 93, 0.4);
  backdrop-filter: blur(20px);
  border-radius: 50px;
  transition: all .2s;
  z-index: 1;
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.navbar img {
  z-index: 1;
  width: 35px;
  margin: 10px;
  transition: all .2s;
}

.nav-link{
  display: flex;
  align-items: center;
  height: 5rem;
}
.link-text {
  display: none;
  position: absolute;
  right: 70px; 
  white-space: nowrap;
  background-color: #000000;
  color: white;
  padding: 5px 10px;
  clip-path: polygon(50% 0%, 100% 0, 100% 80%, 90% 100%, 46% 100%, 0 100%, 0 0);
}
.navImgTransition {
  animation: navTransitionIn 0.75s;
}
/* ---------------------------------------------------------- */










/* -----------------------------Header----------------------------- */
.header {
  height: 100vh;
  
}

.banner .content .model{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} 

.banner .content .model img{
  height: auto;
  z-index: 0;
  transition: 0.8s;
} 

.textChanger {
  font-family: "Mona Sans Variable", "Mona Sans Placeholder", sans-serif;
  font-weight: bolder;
  position: absolute;
  color: black;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  box-sizing: content-box;
}

.diffLangContainer {
  overflow: hidden;
  position: relative;
}

.diffWelcome {
  display: block;
  height: 100%;
  padding-left: 6px;
  animation: diffWelcome-change 15s infinite;
}


@keyframes diffWelcome-change {
  0% {
    transform: translateY(0%); /* Start at the first word */
  }
  12.5% {
    transform: translateY(-100%); /* Move to the second word */
  }
  25% {
    transform: translateY(-200%); /* Move to the third word */
  }
  37.5% {
    transform: translateY(-300%); /* Move to the fourth word */
  }
  50% {
    transform: translateY(-400%); /* Move to the fifth word */
  }
  65% {
    transform: translateY(-400%); /* Short pause on the last word */
  }
  80% {
    transform: translateY(0%); /* Quickly transition to the first word */
  }
  100% {
    transform: translateY(0%); /* Ensure it stays on the first word */
  }
}


.author{
  font-family: 'Inter';
  line-height: 10px;
  text-align: left;
  position: absolute;
  right: 20px;
  bottom: 10px;  
}

.socialLinks {
  position: absolute;
  bottom: 0;
  left: 10px;
  list-style: none;
  font-size: 1.5em;
  color: #000;

}

.socialLinks li { 
  display: inline-block;
  margin-right: 40px;
  
}
.socialLinks li i { 
  color: #000;
  transition: 0.5s;
}

.socialLinks li i:hover{ 
  color: #007515;
  
}
/* ---------------------------------------------------------- */
































/* -----------------------------about----------------------------- */


.aboutContainer{
  height: 100vh;
  margin-top: 50px;
  /* margin-bottom: 50px; */
}

.summarySection {
  margin: 50px;
  height: 500px;
  width: 600px;
}

.summarySection h1 {
  font-size: 6rem;
  padding: 0;
  margin: 0;
  font-family: "Mona Sans Variable", "Mona Sans Placeholder", sans-serif;
}

.summarySection p {
  font-size: 1.2rem;
  font-family: "Mona Sans", "Mona Sans Placeholder", sans-serif;
  letter-spacing: 2px;
  padding: 40px;
  border: 2px solid black;
  border-radius: 20px;
  color: white;
  background-color: black;
  transition: 0.8s;
  animation: fade-in linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

.summarySection p:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0);
}

@media (max-width: 500px) {
  .summarySection {
    margin: 40px;
    height: 500px;
    width: 300px;
  }
}

@media (max-width: 400px) {
  .aboutContainer {
    margin-bottom: 300px;
  }
}




/* ---------------------------------------------------------- */



























/* -----------------------------Skills----------------------------- */

.skillsContainer {
  min-height: 100vh;
  align-content: center;
  align-items: center;
  margin: 20px;
  margin-bottom: 100px;
}

.box {
  background-color: rgb(37, 35, 36);
  border-radius: 20px;
  align-content: center;
  text-align: center;
  transition: 0.2s;
  animation: fade-in linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
  transform: translateY(0px);
  overflow: hidden;
}

.box:hover {
  transform: translateY(-10px);
  background-color: rgb(50, 47, 49);

}

.firstSkillGrid {
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: repeat(2, 200px);
  grid-template-areas: 
    "box-1 box-2 box-3 box-3 box-4 box-5"
    "box-6 box-7 box-3 box-3 box-8 box-9";
  gap: 20px;
}

.secondSkillGrid {
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: 200px;
  grid-template-areas: 
    "box-10 box-11 box-12 box-13 box-14 box-15";
  gap: 20px;
}

.infiWordSlider {
  font-size: 20px;
  padding: 8px;
  border-block: 1px solid black;
  overflow: hidden;
  user-select: none;
  --gap: 20px;
  display: flex;
  gap: var(--gap);
}

.infiWordSlider ul {
  font-family: "Mona Sans Variable", "Mona Sans Placeholder", sans-serif;
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  animation: sideScroller 20s linear infinite;
}

.word {
  margin-inline: 4px;
}

.infiWordSlider:hover ul {
  animation-play-state: paused;
}

@keyframes sideScroller {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.iconHolder {
  background-color: #17364F;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  margin-right: auto;
  margin-left: auto;
  transition: 0.8s;
  overflow: hidden;
}

.box:hover > .iconHolder{
  background-color: #1c4465;
}

.box::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: rgb(255, 255, 255, 0.5);
  transform: skew(45deg) translateX(300px);
  transition: 0.8s;
}

.box:hover:before{
  transform: skew(45deg) translateX(-300px);
}

.imgSkill {
  height: 50px;
  margin-top: 25px;
}

.imgSkillGit{
  height: 100px;
}

.iconHolder i {
  font-size: 50px;
  margin-top: 25px;
}

/* @media (max-width: 60em) {
  .firstSkillGrid {
    height: 350px;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(4, 200px);
    grid-template-areas: 
      "box-1 box-2 box-3 box-3"
      "box-6 box-7 box-3 box-3"
      "box-8 box-9 box-4 box-5";
  }

  .secondSkillGrid {
    display: grid; 
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 200px);
    grid-template-areas: 
      "box-10 box-11 box-12"
      "box-13 box-14 box-15";
  }

  .infiWordSlider {
    display: none !important; 
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
  }

  .infiWordSlider ul {
    display: none !important; 
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
  }
  
  .box::before{
    display: none;
  }
  
  .box:hover:before{
    display: none;
  }
  .box:hover {
    transform: translateY(0px);
  }
} */

@media (max-width: 500px) {
  .firstSkillGrid {
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(6, 150px);
    grid-template-areas: 
      "box-1 box-2"
      "box-6 box-7"
      "box-3 box-3"
      "box-3 box-3"
      "box-4 box-5"
      "box-8 box-9";
  }

  .secondSkillGrid {
    margin-top: 670px;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-template-areas: 
      "box-10 box-11"
      "box-12 box-13"
      "box-14 box-15";
  }

  .infiWordSlider {
    display: none !important; 
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .box:hover {
    transform: translateY(0);
  }
}


/* ---------------------------------------------------------- */

































/* -----------------------------projects----------------------------- */


@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateX(0);
  }
}

.projectContentStuff {
  height: 100%;
  width: 100%;
  position: relative;
}

.projectPageSlide {
  height: 100vh;
  width: 100vw;
  position: sticky;
  top: 0;
  border-radius: 30px 30px 0px 0px; 
  justify-content: center;
  align-items: center;
  display: flex;
}

#one {
  background-color: rgb(189, 9, 39);
}
#two {
 background-color: rgb(10, 79, 128);
}
#three {
  background-color: rgb(7, 143, 77);
}
#four {
  background-color: rgb(128, 10, 93);
 }
#five {
  background-color: rgb(143, 82, 7);
}

.pageCountDotList {
  position: absolute;
  top: 20px;
  left: 20px;
}

.pageCountDotList ul {
  display: flex;
}

.pageCountDotList li {
  margin-right: 20px;
  font-size: 3rem;
  text-decoration: none;
  list-style: none;
}

.pageCountDotList div {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  border: 1px solid white;
}

.slideDotFill {
  background-color: rgba(255, 255, 255, 0.496);
}

.descrptionContainer{
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  bottom: 15%;
  left: 5%;
  /* animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit -200px; */
}

.projectDisplayPic {
  height: 500px;
  width: 400px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 70px 63px -60px #000;
  position: relative;
  transition: 0.8s;
  animation: fade-in linear;
  animation-timeline: view();
  animation-range: entry 0% cover 10%;
}

.customImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s ease-in-out;
  filter: grayscale(1);
}

.customImg:hover {
  width: 200%;
  filter: grayscale(0);
}

.projectDisplayPic:hover img {
  filter: grayscale(0);
}

.projectDisplayPic:hover { 
  transform: translateY(-30px);
  box-shadow: 0 90px 63px -20px #000;
}

.projectDisplayContent {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px 0 15px 0; 
  transition: 0.8s;
  backdrop-filter: blur(0px);
  transform: translateY(60%);
}

#swingArrow{
  margin: 0;
  padding-bottom: 20px;
  font-size: 25px;
  color:  #ffffff;
  animation: swing 1s ease-in-out infinite;
  animation-duration: 5s;
}

@keyframes swing {
  0% { 
    transform: rotateZ(0deg) translate(0, 0); 
  }
  5% { 
    transform: rotateZ(20deg) translate(15px, -5px); 
  }
  10% { 
    transform: rotateZ(-10deg) translate(-15px, 2px); 
  }
  15% { 
    transform: rotateZ(11deg) translate(10px, -1px); 
  }
  20% { 
    transform: rotateZ(0deg) translate(0, 0);
  }
  100% { 
    transform: rotateZ(0deg) translate(0, 0); 
  }
}

.projectDisplayPic:hover .projectDisplayContent{
  transform: translateY(0);
  backdrop-filter: blur(10px);
}

.linkContainer{
  display: flex;
  justify-content: center;
  text-align: center;
}

.projectDisplayLink {
  background-color: rgb(109, 109, 109, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 50px;
  height: 40px;
  width: 40px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
}

#gitHubLink {
  font-size: 40px;
  color: black;
}

#demoLink {
  font-size: 20px;
  color: black;
  padding-top: 10px;
}

.projectDisplayLink:hover {
  transform: scale(1.2);
}

.descrptionContainer {
  overflow: visible;
  
}

/* .descriptionSubContainer {
  box-shadow: 0 70px 63px -60px #000;
  transition: 0.8s;
   
} */

.projectDesciptionSection {
  background-color: rgb(0, 0, 0);
  backdrop-filter: blur(20px); 
 

  /* box-shadow: 0 0 16px 0px #000;  */

  transition: 0.8s;

  border: 1px solid black;
  height: 400px;
  width: 500px;
  border-radius: 30px;
  margin-bottom: 10px;
  animation: fade-in linear;
  animation-timeline: view();
  animation-range: entry 0% cover 10%;
}

.projectDesciptionSection:hover { 
  transform: translateY(-30px);
  box-shadow: 0 30px 63px -20px #000;
}

@font-face { font-family: MajorMonoDisplay-Regular; src: url("my-web-app/src/assets/fonts/MajorMonoDisplay-Regular.ttf"); }  

.projectDesciptionSection h1 {
  font-size: 3rem;
  margin: 0;
  padding: 30px 30px 0 30px;
  font-family: "Mona Sans Variable", "Mona Sans Placeholder", sans-serif;
  font-weight: 900;
  color: rgb(50, 184, 181)
}

.descrpText{
  font-family: "Mona Sans", "Mona Sans Placeholder", sans-serif;
  position: absolute;
  padding: 30px;
  bottom: 0;
  color: rgb(50, 184, 181);
  font-size: 1.1rem;
}


.funImg {
  display: flex;
  height: 100px;
  margin: auto;
  padding-top: 20px;
  transform: translateY(0px);
  animation: float 5s ease-in-out infinite;
}

.projectTechUsed {
  background-color: rgb(0, 0, 0);
  backdrop-filter: blur(20px);

  /* box-shadow: 0 70px 63px -60px #000; */
  transition: 0.8s; 
  border: 1px solid black;
  height: 100px;
  width: 500px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-in linear;
  animation-timeline: view();
  animation-range: entry 0% cover 5%;
}

.projectTechUsed:hover { 
  transform: translateX(-30px);
  box-shadow: 0 30px 63px -20px #000;
}

.techIcon {
  height: 40px;
  padding: 0 20px 0 20px;
  transform: translateY(0px);
  animation: float 6s ease-in-out infinite;
}

#oneSetFloat {
  transform: translateY(0px);
  animation: float 5s ease-in-out infinite;
}

#twoSetFloat {
  transform: translateY(-10px);
  animation: floatTwo 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes floatTwo {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-5px);
  }
}




/* @media (max-width: 60em) {
  .projectDisplayPic {
    height: 400px;
    width: 300px;
  }

  .projectDesciptionSection {
    height: 400px;
    width: 300px;
    margin-left: 40px;
  }

  .projectDesciptionSection h1 {
    font-size: 2rem;
  }

  .descrpText{
    padding: 20px;
    font-size: 1rem;
  }

  .projectTechUsed {
    height: 100px;
    width: 300px;
    margin-left: 40px;
  }
  .techIcon {
    height: 30px;
    padding: 0 10px 0 10px;
  }
} */

@media (max-width: 500px) {


  .projectDisplayPic {
    height: 400px;
    width: 300px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .projectDesciptionSection {
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .projectDesciptionSection h1 {
    font-size: 2rem;
  }

  .descrpText{
    padding: 20px;
    font-size: 0.8rem;
  }

  .projectTechUsed {
    height: 60px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .techIcon {
    height: 30px;
    padding: 0 10px 0 10px;
  }





  .projectContentStuff {
    display: flex;
  }

  .projectDisplayContent {
    backdrop-filter: blur(0px);
    transform: translateY(0%);
  }

  .projectDisplayPic:hover { 
    transform: translateY(0);
  }

  .customImg {
    filter: grayscale(0);
  }

  .customImg:hover {
    width: 100%;
    filter: grayscale(0);
  }
  
  .projectPageSlide {
    /* height: 100vh;
    width: 100vw;
    position: sticky;
    top: 0;
    border-radius: 30px 30px 0px 0px; 
    justify-content: center;
    align-items: center; */
  }

  .descrptionContainer{
    grid-template-columns: 1fr;
  }

  .projectDisplayPic {
    height: 100px;
    width: 300px;
   
  }

  .projectDesciptionSection {
    border-radius: 30px;
    margin-bottom: 10px;
  }
}

/* ---------------------------------------------------------- */






























/* -----------------------------contact----------------------------- */

.contactContainer {
  height: 100vh;
  /* background-color: rgba(0, 9, 20, 0.952); */
  border-radius: 3px;
  /* position: relative; */
}

/* .CONTACT { 
  font-family: 'Inter';
  font-weight: bolder;
  font-size: 8vw;
  align-self: center;
  transform: rotate(270deg);
  position: absolute;
  left: 0;
  bottom: 0;
  transform-origin: 0 0;
  color: #25283B;
  z-index: 1;
} */




.contactSection {
  display: flex;
  justify-content: right;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  width: 100%;
}

.formContainer {
 position: relative;
 margin-right: 100px;
 width: 100%;
 max-width: 700px;
 max-height: 500px;
 padding: 60px;
 padding-top: 30px;
 background: rgba(127, 127, 127, 0.1);
 box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
 /* border-right: 1px solid rgba(255, 255, 255, 0.25);
 border-bottom: 1px solid rgba(255, 255, 255, 0.25); */
 border-radius: 40px;
 overflow: hidden;
 backdrop-filter: blur(25px);
 /* animation: form_animate 8s ease-in-out infinite 1s; */
 transition: 0.8s;
 animation: fade-in linear;
 animation-timeline: view();
 animation-range: entry 0% cover 50%;
 
}

.letsConnect {
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 5rem;
  margin-left: 100px;
  text-align: left;
  font-family: "Mona Sans Variable", "Mona Sans Placeholder", sans-serif;
  transition: 0.8s;
  animation: fade-in linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.formContainer {
  transition: 0.5s;
  transform: translateY(0px);
}

.formContainer:hover {
  transform: translateY(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);

}

.formContainer .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5px;
}

.formContainer .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 20px 0 10px;
}

.formContainer .row100 .col .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #ffffff;
}

.formContainer .row100 .col .inputBox input,
.formContainer .row100 .col .inputBox textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 0 10px;
  z-index: 1;
  color: #ff0000;
}

.formContainer .row100 .col .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.formContainer .row100 .col .inputBox input:focus + .text,
.formContainer .row100 .col .inputBox input:valid + .text,
.formContainer .row100 .col .inputBox textarea:focus + .text,
.formContainer .row100 .col .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}

.formContainer .row100 .col .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #efefef;
  transition: 0.5s;
  pointer-events: none;
  border-radius: 20px;
}

.formContainer .row100 .col .inputBox input:focus ~ .line,
.formContainer .row100 .col .inputBox input:valid ~ .line {
  height: 100%;
}

.formContainer .row100 .col .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.formContainer .row100 .col .inputBox textarea:focus ~ .line,
.formContainer .row100 .col .inputBox textarea:valid ~ .line {
  height: 100%;
}

.formButton {
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  outline: none;
  background: #ffffff57;
  font-weight: 600;
  font-size: 18px;
  border-radius: 50px;
  color: #fff;
  transition: 0.5s;
}

.formButton:hover {
  background: #ffffff76; 
}

/* ---------------------------------------------------------- */





















/* -----------------------------footer----------------------------- */

.footerContainer {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, 250px);
}

.pageLinksFooter {
  padding: 50px;
  font-size: 1rem;
  font-family: "Mona Sans", "Mona Sans Placeholder", sans-serif;
}

.pageLinksFooter a {
  padding-bottom: 20px;
  text-decoration: none;
  color: black;
}

/* ---------------------------------------------------------- */


body {
  background-color: #a90b0b;
}












/* small screen */
@media (max-width: 600px) {

  /* -----------------------------Header----------------------------- */

  .banner .content .model img{
    position: absolute;
    height: auto;
    width: 300px;
    margin-top: -100px;
  } 
  
  .textChanger {
    font-size: 2rem;
    top: 30px;
    left: 20px;
    height: 40px;
  }

  .author{
    font-size: 10px;
    bottom: 80px;  
  }

  .socialLinks {
    bottom: 60px;
    left: -20px;
  }

  .socialLinks li { 
    margin-right: 10px;
  }
  /* -----------------------------Header End----------------------------- */


}

/* Big Screen */
@media (min-width: 600px) {

  /* -----------------------------Header----------------------------- */
  .banner .content .model img{
    position: relative;
    height: auto;
    width: 35%;
    display: block;
    margin: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(20px 50px 20px #222222);
  } 
  
  .textChanger {
    font-size: 4vw;
    top: 50%;
    left: 70px;
    height: 80px;
  
  }

  /* -----------------------------Header End----------------------------- */



}
